<%- include("templates/header") %>
    <link rel="stylesheet" type="text/css" href="/css/error.css">
</head>
<body>
<div id="container">
  <h2>Pathway Blocked</h2>
  <p>Error 403: Access Denied</p>
    <h4>Your mental health is important to us, and we're working to remove obstacles. 
      Meanwhile, let's redirect you to resources that can uplift your well-being.</h4>
    <form action="/" method="get">
        <input type="submit" value="Home">
    </form>
</div>
<%- include("templates/footer") %>