<%- include("templates/header") %>
    <link rel="stylesheet" type="text/css" href="/css/error.css">
</head>
<body>
<div id="container">
  <h2>Don't be frustrated!</h2>
  <p>Error 404: Page not found.</p>
    <h4>It appears your mind has wandered off track.
      Let's bring you back to the present and offer a
        tranquil space to ground your thoughts.</h4>
    <form action="/" method="get">
        <input type="submit" value="Home">
    </form>
</div>
<%- include("templates/footer") %>