<%- include("templates/header") %>
    <link rel="stylesheet" type="text/css" href="/css/resetpassword.css">
</head>
<body>
<div id="container">
    <h2>Your request has been made.<br></h2>
    <h3>Please check your email.</h3>
</div>
<%- include("templates/footer") %>