<%- include("templates/header") %>
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/journal.css">
</head>
<body>
    <%- include("templates/nav") %>
    <div class="container">
        <h2>Your Gratitude Journal</h2>
        <ul id="entries">
            <!--PUT FOR LOOP HERE-->
        </ul>
        </div>
    </div>


    
<%- include("templates/footer") %>