<%- include("templates/header") %>
<link rel="stylesheet" type="text/css" href="/css/landing.css">

</head>
<body>
  <!-- Login Form -->
  <div id="loginForm">
    <!-- Heading -->
    <h1>Ground'd</h1>

    <!-- Form -->
    <form action="/login" method="post">
      <!-- Username Input -->
      <div class="form-group">
        <input name="__loginEmailAddress" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>

      <!-- Password Input -->
      <div class="form-group">
        <input name="__loginKey" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>

    </form>
      <button id="login">Log In</button>

    <!-- Log In Button -->

    <!-- OR Heading -->
    <h6>OR</h6>

    <!-- Sign Up Button -->
    <button id="signup">Sign Up</button>
  </div>

  <script src="/js/landing.js"></script>
<%- include("templates/footer") %>