<%- include("templates/header") %>
<link rel="stylesheet" type="text/css" href="/css/landing.css">

</head>
<body>
  <!-- Login Form -->
  <div id="loginForm">
    <!-- Heading -->
    <h1>Ground'd</h1>

    <!-- Form -->
    <form>
      <!-- Username Input -->
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Username">
      </div>

      <!-- Password Input -->
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
    </form>

    <!-- Log In Button -->
    <form action="/login" method="GET"><button type = "submit" id="login">Log In</button></form>

    <!-- OR Heading -->
    <h6>OR</h6>

    <!-- Sign Up Button -->
    <button id="signup">Sign Up</button>
  </div>

  <script src="/js/landing.js"></script>
<%- include("templates/footer") %>