<%- include("templates/header") %>
<link rel="stylesheet" type="text/css" href="/css/landing.css">

</head>
<body>
  <!-- Login Form -->
  <div id="loginForm">
    <!-- Heading -->
    <h1>Ground'd</h1>

    <!-- Form -->
    <form action="/login" method="post">
      <!-- Username Input -->
      <div class="form-group">
        <input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>

      <!-- Password Input -->
      <div class="form-group">
        <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>

        <button id="login">Log In</button>
    </form>
<!--      <form action="/api/login" method="post">-->
<!--      </form>-->

    <!-- Log In Button -->

    <!-- OR Heading -->
    <h6>OR</h6>

    <!-- Sign Up Button -->
    <button id="signup">Sign Up</button>
  </div>

  <script src="/js/landing.js"></script>
<%- include("templates/footer") %>