<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
</head>
<body>
<h1>Reset Password</h1>
<form action="/updateuser/" method="POST">
    <label for="password">New Password:</label>
    <input type="password" id="password" name="password" required>
    <input type="hidden" id="token" name="token" value="<%= token %>">
    <input type="submit" value="Reset Password">
</form>
</body>
</html>
