<!--// PlaceHolder for main merge issue.-->
<%- include("templates/header") %>
    <link rel="stylesheet" type="text/css" href="/css/resetpassword.css">
</head>
<body>
<div id="container">
    <h1>Successfully Reset<br>Your Password!</h1>
    <form action="/login" method="get">
        <input type="submit" value="Back to login">
    </form>
</div>
<%- include("templates/footer") %>