<!--// PlaceHolder for main merge issue.-->
<%- include("templates/header") %>
    <link rel="stylesheet" type="text/css" href="/css/resetpassword.css">
</head>
<body>
<div id="container">
    <h1>Reset Password</h1>
    <form action="/updateuser/" method="POST">
        <input type="password" id="password" class="form-control" name="password" placeholder="New Password" required>
        <input type="hidden" id="token" name="token" value="<%= token %>">
        <input type="submit" value="Reset Password">
    </form>
</div>
<%- include("templates/footer") %>
