<%- include("templates/header")%>
<link rel="stylesheet" type="text/css" href="/css/landing.css">
</head>
  <body>
    <!-- Login Form -->
    <div id="loginForm">
      <!-- Back Button -->
      <button id="backButton">< Back</button>

      <!-- Heading -->
      <h1>Sign Up</h1>

      <!-- Form -->
      <form action="/api/register" method="post">
        <!-- Email Input -->
        <div class="form-group">
          <input name="email" type="email" class="form-control" placeholder="Email" required>
        </div>

        <!-- Username Input -->
        <div class="form-group">
          <input name="username" type="text" class="form-control" placeholder="Username" required>
        </div>
        <!-- Password Input -->
        <div class="form-group">
          <input name="password" type="password" class="form-control" id="exampleInputEmail1" placeholder="Password" required>
        </div>

        <!-- Confirm Password Input -->
        <div class="form-group">
          <input name="confirmKey" type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password" required>
        </div>

      <button id="login">Sign Up</button>
      </form>

      <!-- Sign Up Button -->
    </div>

    <script src="/js/signUp.js"></script>
<%- include("templates/footer")%>
