/*// PlaceHolder for main merge issue.*/
.container {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 80%;
  height: auto;
  padding: 15px;
}

#chat-form, #chat-form-input > input[type="text"] {
  appearance: none;
  width: 100%;
  height: 40px;
  border: solid 2px #4e4e4e;
  border-radius: 5px;
  background-color: #DDC0E7;
}

#chat {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#chat-title {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #D3B2DA;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: solid 3px #4e4e4e;
  border-radius: 10px;
}

#chat-content {
  margin:auto;
  padding: 10px;
  height: 400px;
  width: 100%;
  background-color: #F8E3CA;
  border: solid 3px #4e4e4e;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.botMessage, .userMessage {
  border: solid 2px #2e2e2e;
  border-radius: 10px;
}

.userMessage {
  text-align: right;
  align-self: end;
  /*float: right;*/
  padding: 5px;
  /*min-height: 40px;*/
  /*line-height: 20px;*/
  width: fit-content;
  background-color: #d8c3dc;
}

.botMessage {
  text-align: left;
  align-self: start;
  /*float: left;*/
  padding: 5px;
  /*min-height: 30px;*/
  /*line-height: 25px;*/
  width: fit-content;
  background-color: #a189a5;
}

.actionIcon {
  width: 5%;
  float: inherit;
  cursor: pointer;
}

.extraActions {
  /*background-color: red;*/
  float: right;
}

span {
  color: #4e4e4e;
  font-size: small;
}

.textbox {
  background-color: #F6F4F4;
  padding: 25px;
  border-radius: 25px;
  width: 90%;
  height: 90%;
}

#chat-form {
  height: 50px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#chat-form-input {
  display: flex;
  align-items: center;
}

#usermsg {
  flex: 100%;
  height: 25px;
}

#send {
  border:none;
  background: none;
  margin-left: 10px;
  flex:3%
}

#chat-title {
  font-size: 2em;
  font-weight: 800;
  color: #4e4e4e;
}

#chat-title > h2 {
  margin-bottom: 0rem;
}
