/*// PlaceHolder for main merge issue.*/
.container {
  width: 80%;
}

h2 {
  margin: 20px auto 20px auto;
  padding: 30px;
  background-color: #B2EEB1;
  width: 100%;
  text-align: center;
  border: solid 3px #4e4e4e;
  border-radius: 15px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.7);
}

ul {
  list-style: none;
  padding-left: 0;
  width: 100%;
}

#date {
  background-color: #D3B2DA;
  width: 100%; 
  padding: 10px;
  font-size: larger;
  font-weight: 600;
  border: solid 2px #4e4e4e;
  border-radius: 8px;
  margin-bottom: 5px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.7);
}

#entry {
  min-height: 60px;
  line-height: 20px;
  background-color: #f6f4f4;
  padding: 10px;
  border: solid 2px #4e4e4e;
  border-radius: 10px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.7);
}

#pagination {
}

form {
  width: fit-content;
}

.jpag {
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  margin:10px 5px 5px 5px;
  background: linear-gradient(#c19bc9 0 0) no-repeat calc(200% - var(--p, 0%))
  100% / 200% var(--p, 0.2em);
  transition: 0.2s var(--t, 0s),
  background-position 0.2s calc(0.2s - var(--t, 0s));
}

.jpag:hover {
  color: #F6F4F4;
  --p: 100%;
  --t: 0.3s;
}
