/**FOR BOTH LOGIN AND SIGNUP PAGES**/
/*// PlaceHolder for main merge issue.*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {
  font-family: 'Comfortaa', cursive;
  background-color: #F0CFD7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card {
  position: absolute;
  transform: translateY(62.5%);
  background-color: transparent;
  width: 400px;
  height: 500px;
  perspective: 1000px;
}

h1 {
  color: #3e4e4e;
  font-size: 2em;
  font-weight: bolder;
}

.title {
  font-size: 1.5em;
  font-weight: 800;
  text-align: center;
  margin: 5px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 500px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.is-flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 500px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 3px solid #4e4e4e;
  border-radius: 1rem;
  align-items: center;
}

.flip-card-front {
  background: rgb(149,126,154);
  background: linear-gradient(99deg, rgba(149,126,154,1) 0%, rgba(184,155,190,1) 25%, rgba(211,178,218,1) 100%);
  color: #4e4e4e;
}

.flip-card-back {
  background: rgb(231,201,237);
  background: linear-gradient(99deg, rgba(231,201,237,1) 0%, rgba(149,126,154,1) 100%);
  color: #4e4e4e;
  transform: rotateY(180deg);
}

.flip-btn, .back-btn {
  width: 150px;
  background-color: #8DD4CD;
  color: #4e4e4e;
  border: solid 1.5px #4e4e4e;
  font-size: .75em;
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

p {
  margin-bottom: 2px;
}

form {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-control:focus {
  border-color: #4e4e4e;
  border-width: 3px;
  box-shadow: 2px 2px 5px #2e2e2e;
}

.form-group, #login {
  margin-bottom: 5px;
}

#login {
  width: 69%;
  height: 40px;
  background-color: #8DD4CD;
  color: #4e4e4e;
  border: solid 2px #4e4e4e;
  font-size: 1.15em;
  border-radius: 5px;
  font-weight: 800;
}

#login span:nth-child(1) {
  position: absolute;
  transform: translateY(2px);
  display: block;
  /*background-color: none;*/
  animation: none;
}

.back-btn:hover, .flip-btn:hover{
  border-color:#b4f2ec;
  color: #d6f4f1;
}

#login:hover {
  border-color:#b4f2ec;
  color: #d6f4f1;
}

#login:hover span {
  width: 15%;
  left: -69%;
  height: 4px;
  border-radius: 3px;
  background: linear-gradient(90deg, transparent, white);
  animation: btn-anim1 1.5s linear infinite; /* Add the animation property to the span element on hover */
}

@keyframes btn-anim1 {
  0% {
    left: 25%;
  }

  50%, 100% {
    left: 59%;
  }
}

.pwReset {
  transform: translateY(130%);
  background-color: transparent;
  border: none;
  color:#4e4e4e;
}

.back-btn:hover span, .flip-btn:hover span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
 }
 
 .back-btn span:after, .flip-btn span:after {
  color: #d6f4f1;
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
 }
 
 .back-btn:hover span, .flip-btn:hover span {
  padding-right: 15px;
 }
 
 .back-btn:hover span:after, .flip-btn:hover span:after {
  opacity: 1;
  right: 0;
 }

