/*// PlaceHolder for main merge issue.*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {
  font-family: 'Comfortaa', cursive;
  background-color: #F0CFD7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar {
  padding: 5px;
  color: #4e4e4e;
  background-color: #D3B2DA;
  border: solid #4e4e4e;
  width: 100%;
}


@media (max-width: 992px) { 
  button[type="submit"]:first-of-type {
    margin-top:10px;
  }
  
  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

    nav button[type="submit"] {
      width: 400px;
    }
 }
 
 

 .fullscreen-menu {
  display: none;
 }
 

nav button[type="submit"]{
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  margin:10px 5px 5px 5px;
  background: linear-gradient(#c19bc9 0 0) no-repeat calc(200% - var(--p, 0%))
    100% / 200% var(--p, 0.2em);
  transition: 0.2s var(--t, 0s),
    background-position 0.2s calc(0.2s - var(--t, 0s));
}

nav button[type="submit"]:hover {
  color: #F6F4F4;
  --p: 100%;
  --t: 0.3s;
}

.eg {
  align-self: end;
  width: 5px;
  float: right;
  opacity: 17%;
  cursor: pointer;
}