@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {
  font-family: 'Comfortaa', cursive;
  background-color: #F0CFD7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#container {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 500px;
  border: 3px solid #4e4e4e;
  border-radius: 1rem;
  align-items: center;
  background: rgb(149,126,154);
  background: linear-gradient(99deg, rgba(149,126,154,1) 0%, rgba(184,155,190,1) 25%, rgba(211,178,218,1) 100%);
  color: #4e4e4e;
  transform: translateY(15%);
}

h1, h2 {
  text-align: center;
  color: #3e4e4e;
  font-size: 2em;
  font-weight: bolder;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="password"] {
  margin-bottom: 5px;
}

input[type="submit"] {
  width: 150px;
  height: 40px;
  background-color: #8DD4CD;
  color: #4e4e4e;
  border: solid 1.5px #4e4e4e;
  font-size: 1em;
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.form-control:focus {
  border-color: #4e4e4e;
  border-width: 3px;
  box-shadow: 2px 2px 5px #2e2e2e;
}